header {
  width: 100%;
  height: 67px;
  background-color: #050519;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #181c1c;
  font-size: 25px;
  line-height: 29.83px;
}

h3,
p,
hr {
  margin: 0;
}

.search-bar {
  margin-top: 57px;
  margin-left: 68px;
}

.search-bar > input {
  width: 360px;
  height: 52px;
  border-radius: 3px;
  background-color: #555555;
  font-size: 20px;
  line-height: 23.87px;
  border: 3px solid #555555;
}

.search-bar ::placeholder {
  color: #d9d9d9;
}

.must-have-games h3,
.new-releases h3 {
  margin-left: 72px;
  padding-top: 15px;
  padding-bottom: 18px;
}

.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  width: 80%;
  position: relative;
  margin-top: 18px;
}

.carousel-items {
  display: flex;
  margin-left: 72px;
  gap: 15px;
  transition: transform 0.3s ease;
  scroll-behavior: smooth;
  will-change: transform;
}

.card {
  width: 207px;
  height: 276px;
  border-radius: 13px;
  border: 0.35px;
  flex: 0 0 auto;
  background: #333;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.card.hidden {
  opacity: 0;
}

.card:hover,
.card-popular:hover {
  border: 2px solid #00c965;
}

.card img,
.card-popular img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
  color: #ffffff;
  background-color: transparent;
  border: none;
  transition: transform 0.3s ease;
}

button.prev-button {
  position: absolute;
  display: flex;
  padding-left: 56px;
}

button.next-button {
  position: absolute;
  padding-left: 1176px;
}

.coursel-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  width: 80%;
  position: relative;
  margin-top: 18px;
}

.popular-games h3 {
  margin-left: 72px;
  padding-top: 47px;
  padding-bottom: 13px;
}

.carousel-two-items {
  display: flex;
  margin-left: 87px;
  gap: 19px;
  transition: transform 0.3s ease;
  scroll-behavior: smooth;
}

.card-popular {
  width: 158px;
  height: 210px;
  border-radius: 13px;
  border: 0.35px;
  flex: 0 0 auto;
  background: #333;
  overflow: hidden;
}

button.prev-button-one {
  position: absolute;
  display: flex;
  padding-left: 70px;
  top: 730px;
}

button.next-button-one {
  position: absolute;
  padding-left: 1140px;
  top: 730px;
}

.reviews {
  margin: 100px 488px 307px 90px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.reviews-container {
  width: 702px;
  height: 581px;
}

.reviews-list {
  width: 702px;
  height: 544px;
  gap: 33px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.reviews-item {
  width: 702px;
  height: 160px;
  border-radius: 12px;
  background-color: #3b3b48;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.reviews-item img {
  padding: 9px;
}

button.prev-button-two {
  position: absolute;
  display: flex;
  padding-left: 70px;
  top: 1000px;
}

button.next-button-two {
  position: absolute;
  padding-left: 1140px;
  top: 1000px;
}

.game-title {
  padding-top: 14px;
}

.rating-container {
  display: flex;
  flex-direction: row;
  width: 130px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  margin-top: 10px;
  margin-left: 1px;
  margin-bottom: 15px;
}

.comment {
  font-size: 15px;
  font-weight: 400;
  line-height: 18.15px;
  color: #c1c1c1;
  width: 420px;
}

.rating {
  color: #00c965de;
}

hr {
  width: 0px;
  height: 15px;
  margin-left: 4px;
  margin-right: 6px;
}

.add-fav-button {
  display: flex;
  flex-direction: row;
  position: relative;
}

.add-fav-button svg {
  position: absolute;
  top: 130px;
  left: 100px;
}

.add-fav-button p {
  position: absolute;
  top: 130px;
  left: 125px;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.15px;
}
