a.button {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  /* text-transform: uppercase; */
  color: #fff;
  background-color: var(--color-button-primary);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
  /* color: #fff;
  background-color: var(--color-button-primary);
  border: 2px solid var(--color-button-primary);
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  text-decoration: none;
  transition: background-color 0.3s; */
}
