.hide {
  display: none;
}

.review-card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: #3b3b48;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  width: 50%;
}

.review-card__left {
  width: 100px;
}

.review-card__game-image {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  object-fit: cover;
}

.review-card__game-image.alt {
  border-radius: 50px;
  height: auto;
  aspect-ratio: 1/1;
}

.review-card__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.review-card__right > * {
  margin: 0;
}

p.review-card__game-title {
  font-size: 2.5rem;
  line-height: 1.2;
}

p.review-card__adjoining-info {
  font-size: 1.25rem;
  color: #c1c1c1;
}

span.review-card__rating {
  color: var(--color-review);
}

.review-card__rating-alt:not(.alt) {
  /* display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center; */
  display: none;
}

p.review-card__text {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 1rem;
  color: #c1c1c1;
}

.review-card__like-info {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

a.review-card__like-button {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  color: #c1c1c1;
  text-decoration: none;
}

img.review-card__like-icon {
  width: 2rem;
  height: 2rem;
  transition: transform 0.2s;
}

img.review-card__like-icon:hover {
  transform: scale(1.1);
}

span.review-card__like-count {
  font-size: 1.5rem;
  color: #c1c1c1;
  user-select: none;
}
